<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/karyawan/daftar_karyawan.css') }}">
    <title>Daftar Karyawan</title>
</head>
<body>
    {% include "navbar.html" %}
    <main class="container">
        <header>
            <h1>Daftar Karyawan</h1>
            <p>Lihat semua karyawan</p>
        </header>
        <a href="{{url_for('tambah_karyawan')}}" class="add-btn">Tambah Karyawan</a>
        <section class="data-karyawan">
            {% for karyawan in karyawan %}
                <div class="list-karyawan">
                    <a href="{{ url_for('detail_karyawan', karyawan_id=karyawan['id']) }}">
                        <div class="profile_pic">
                            <img src="{{ url_for('static', filename='profile-pic/' + karyawan.profile_pic) }}" alt="{{ karyawan.nama_karyawan }}">
                        </div>
                        <div class="info-karyawan">
                            <h2>{{ karyawan.nama_pengguna }}</h2>
                            <p>Email : {{ karyawan.email }}</p>
                            <p>No.HP : {{ karyawan.phone }}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </section>
    </main>
</body>
</html>