<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/karyawan/detail_karyawan.css') }}">
    <title>Daftar Karyawan</title>
</head>
<body>
    {% include "navbar.html" %}
    <header>
        <h1>Detail Karyawan</h1>
        <p>Informasi detail karyawan</p>
    </header>
    <a href="{{ url_for('daftar_karyawan') }}" class="back-btn">Kembali ke Daftar Karyawan</a>
    <div class="container">
        <div class="detail-karyawan">
            <div class="info-karyawan">
                <img src="{{ url_for('static', filename='profile-pic/' + karyawan.profile_pic) }}" alt="{{ karyawan.nama_karyawan }}">
                <h2>{{ karyawan.nama_pengguna }}</h2>
                <p>Username : {{ karyawan.username }}</p>
                <p>Email    : {{ karyawan.email }}</p>
                <p>No. HP   : {{ karyawan.phone }}</p>
                <a href="{{ url_for('edit_karyawan', karyawan_id=karyawan.id) }}" class="btn">Edit Data Karyawan</a>
                <form action="{{ url_for('hapus_karyawan', karyawan_id=karyawan.id) }}" method="post" style="display: flex;">
                    <button type="submit" class="btn btn-danger">Hapus Data Karyawan</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>