<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/karyawan/tambah_karyawan.css') }}">
    <title>Tambah Karyawan</title>
</head>
<body>
    {% include "navbar.html" %}
    <a href="{{url_for('daftar_karyawan')}}" class="add-btn">Kembali</a>
    <div class="container">
        <div class="form-container">
            <form action="{{ url_for('tambah_karyawan') }}" method="post" enctype="multipart/form-data">
                <h2>TAMBAH KARYAWAN BARU</h2>
                <div class="profile-pic-k">
                    <img src="{{ url_for('static', filename='images/alt-pic.jpg') }}" alt="Profile Picture" id="profileDisplay">
                    <input type="file" name="profile_pic_k" id="profile_pic_k" accept="images/*" onchange="loadFile(event)">
                    <label for="profile_pic_k">Pilih foto profile</label>
                </div>

                <label for="namaK">Nama Karyawan</label>
                <input type="text" id="namaK" name="namaK" value="" required>

                <label for="usernameK">Username Karyawan</label>
                <input type="text" id="usernameK" name="usernameK" value="" required>
                {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="flash-messages">
                    {% for category, message in messages %}
                        {% if category == 'warning' or category == 'success' %}
                        <div class="alert alert-{{ category }}">
                            <p style="color: red;">{{ message }}</p>
                        </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                {% endif %}
                {% endwith %}
                
                <label for="passwordK">Password</label>
                <input type="password" id="passwordK" name="passwordK" value="" required>
                
                <label for="emailK">Email</label>
                <input type="email" id="emailK" name="emailK" value="" required>
                
                <label for="phoneK">No. HP</label>
                <input type="text" id="phoneK" name="phoneK" value="" required>
                
                <button type="submit">Tambah</button>
            </form>
        </div>
    </div>
    <script>
        function loadFile(event) {
            const output = document.getElementById('profileDisplay');
            output.src = URL.createObjectURL(event.target.files[0]);
            output.onload = function() {
                URL.revokeObjectURL(output.src)
            }
        }
    </script> 
</body>
</html>