<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product Detail</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/produk/styles-product.css') }}">
</head>
<body>
    {% include "navbar.html" %}
    <header>
        <h1>Detail Produk</h1>
        <p>Informasi detail dari produk yang dipilih</p>
    </header>
    <a href="{{ url_for('produk') }}" class="back-btn">Kembali ke Daftar Produk</a>
    <div class="container">
        <div class="product-detail">
            <div class="product-info">
                <img src="{{ url_for('static', filename='product_images/' + product.image) }}" alt="{{ product.name }}">
                <h2>{{ product.name }}</h2>
                <p>{{ product.description }}</p>
                <p>Harga Beli : {{ product.harga_beli }}</p>
                <p>Harga Jual : {{ product.harga_jual }}</p>
                <p>Stok: {{ product.stock }}</p>
                <p>Ditambahkan oleh : {{ product.user.nama_pengguna }}</p>
                <a href="{{ url_for('edit_product', product_id=product.id) }}" class="btn">Edit Produk</a>
                <form action="{{ url_for('delete_product', product_id=product.id) }}" method="post" style="display: flex;">
                    <button type="submit" class="btn btn-danger">Hapus Produk</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
