<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/transaksi/transaksi.css') }}">
    <title>Detail Transaksi</title>
</head>
<body>
    {% include "navbar.html" %}
    
    <div class="container">
        <header>
            <h1>Detail Transaksi</h1>
            <p>Lihat detail transaksi yang telah dilakukan</p>
            <div class="add-bar">
                <a href="{{ url_for('transaksi_list') }}" class="add-transaction">Kembali Ke Daftar Transaksi</a>
            </div>
        </header>

        <main>
            <p>ID Transaksi: {{ transaksi.id }}</p>
            <p>Tanggal: {{ transaksi.tanggal }}</p>
            <!-- <p>Total: {{ transaksi.total_harga }}</p> -->
            <h2 style="text-transform: capitalize;">Detail Transaksi {{ transaksi.jenis.value }}</h2>
            <table>
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Harga Jual</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for detail in details %}
                        <tr>
                            <td>{{ detail.product.name }}</td>
                            <td>{{ detail.jumlah }}</td>
                            <td>{{ detail.subtotal }}</td>
                            <td>
                                <a href="{{ url_for('edit_detail', detail_id=detail.id) }}" class="detail-btn">📝</a>
                                <form action="{{ url_for('delete_detail', detail_id=detail.id) }}" method="POST" style="display:inline;">
                                    <button type="submit">🗑️</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="2"><b>Total Harga</b></td>
                        <td><b>{{ transaksi.total_harga }}</b></td>
                    </tr>
                </tbody>
            </table>
        </main>
        
    </div>
</body>
</html>