<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/transaksi/transaksi.css') }}">
    <title>Transaksi</title>
</head>
<body>
    {% include "navbar.html" %}
    
    <div class="container">
        <header>
            <h1>Daftar Transaksi</h1>
            <p>Lihat semua transaksi yang telah dilakukan</p>
            <div class="add-bar">
                <a href="{{url_for('transaksi_baru')}}" class="add-transaction">Tambah Transaksi Baru</a>
            </div>
        </header>

        <main>
            <h1>Daftar Transaksi</h1>
            <select id="jenis" name="jenis" required style="width: 150px;" onchange="filterTransactions()">
                <option value="semua">Semua</option>
                <option value="penjualan">Penjualan</option>
                <option value="pembelian">Pembelian</option>
            </select>
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Tanggal</th>
                        <th>Jenis Transaksi</th>
                        <th>Total</th>
                        <th>Pemilik/Karyawan</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="transaksi-tbody">
                    {% for transaksi in transaksis %}
                        <tr>
                            <td>{{ transaksi.id }}</td>
                            <td>{{ transaksi.tanggal }}</td>
                            <td style="text-transform: capitalize;">{{ transaksi.jenis.value }}</td>
                            <td>{{ transaksi.total_harga }}</td>
                            <td>{{ transaksi.user.nama_pengguna }}</td>
                            <td>
                                <a href="{{ url_for('transaksi_detail', transaksi_id=transaksi.id) }}" class="detail-btn">📝</a>
                                <form action="{{ url_for('delete_transaksi', transaksi_id=transaksi.id) }}" method="POST" style="display:inline;">
                                    <button type="submit">🗑️</button>
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </div>

    <script>
        function filterTransactions() {
            const jenis = document.getElementById('jenis').value;
            const xhr = new XMLHttpRequest();
            xhr.open('GET', `/transaksi-list?jenis=${jenis}`, true);
            xhr.setRequestHeader('X-Requested-With', 'XMLHttpRequest');
            xhr.onload = function() {
                if (xhr.status === 200) {
                    document.getElementById('transaksi-tbody').innerHTML = xhr.responseText;
                } else {
                    console.error('Failed to fetch transactions');
                }
            };
            xhr.send();
        }
    </script>
</body>
</html>