<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pengaturan/ubah_password.css') }}">
    <title>Profile</title>
</head>
<body>
    {% include "navbar.html" %}
    <a href="{{url_for('pengaturan')}}" class="back-btn">Kembali</a>
    <main>
        <h1>Ubah Password</h1>
        <form action="{{url_for('ubah_password')}}" method="post">
            <label for="current_password">Password Saat Ini:</label>
            <input type="password" id="current_password" name="current_password" required>
            <label for="new_password">Password Baru:</label>
            <input type="password" id="new_password" name="new_password" required>
            <label for="confirm_password">Konfirmasi Password Baru:</label>
            <input type="password" id="confirm_password" name="confirm_password" required>
            <button type="submit">Ubah Password</button>
        </form>
    </main>
</body>